<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <!--a class="navbar-brand js-scroll-trigger" href="/">T4HD</a-->
    <a class="navbar-brand js-scroll-trigger" href="/">
      <img style="max-height: 45px;" class="img-fluid" src="/img/t4hd-02.png">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contribute.html">Colaborate</a><!-- edited-->
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/team.html">Team</a><!-- edited-->
        </li>
      </ul>
    </div>
  </div>
</nav>
